<h1> Login Please </h1>
<form method = "post" >
	{{form.csrf_token }}
	<div>{{form.username.label }}: {{ form.username(class="css_class")}} </div>
	<div>{{form.password.label }}: {{ form.password() }}</div>
	<div>{{form.remember.label }}: {{ form.remember() }} </div>
	<div><button type="submit">log in </button>
	<br>
	Don't have an account?
	<br>
	<a href="/api/register">REGISTER</a>
</form>
