
	<h1> PLease Register </h1>

	<form method ="post" >
		{{form.csrf_token }}
		<div>{{form.username.label }}: {{form.username(class="css_class") }}</div>
		<div>{{form.password.label }}: {{form.password() }}</div>
		<div><button type = "submit">Register </button>
	</form>
